.title {
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 97.5vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.navbar {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center;    /* Centers items vertically (if needed) */
  text-align: center;     /* Ensures text alignment */
  padding: 10px;          /* Optional: Adds some padding */
}

.navbar img {
  height: 30px; /* Set the height of the logo */
  width: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer on hover */
}